Form {
  width: 50%;
  margin: 10px 20%!important;
}
.formNotes {
  text-align: justify;
  list-style-type: none;
  line-height: 20px;
}

.formNotes li {
  margin: 5px 15px;
  line-height: 20px;
}

.languageRadio {
  text-align: right;
  width: 50%;
  margin: 10px 20%;
}
