body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   height: 100%;
   overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-height: 100%;
}

.Form {
  min-height: 78vh;
  padding-top: 15px;
}

form {
  width: 60%;
  margin: auto 10% !important;
}

.logo {
  width: 20%;
  margin-left: 40%;
}

.titleText {
  width: 100%;
  clear: both;
  text-align: center;
}

.formNotes {
  text-align: left;
  margin-left: 0%;
  width: 100%;
  list-style-type: none;
  line-height: 20px;
}

.formNotes li {
  text-align: justify;
  margin: 5px 15px;
  line-height: 20px;
}

.languageRadio {
  text-align: right;
  margin: auto 30%;
  padding-top: 10px;
  min-height: 10vh;
}

textarea {
  resize: none;
}

button {
  margin-left: 40%;
  width: 20%;
  margin-bottom: 20px;
}

.Footer {
  width: 100%;
  color: #f4f4f4;
  background-color: #333333;
  padding: 10px;
  height: 10vh;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  form {
    width: 80%;
    margin: auto -3% !important;
  }
  .languageRadio {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  form {
    width: 95%;
    margin: auto!important;
  }
  .formHeader {
    margin-left: -30%;
  }
  button {
    width: 30%;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 575px) {
  form {
    margin: auto 3% !important;
  }
  .formHeader {
    margin-left: 0;
  }
  button {
    margin-left: 35%;
  }
}
@media only screen and (max-width: 480px) {
  form {
    width: 99%;
    margin: auto 1% !important;
  }
  button {
    width: 40%;
    margin-left: 30%;
  }
  .Form {
    min-height: 75vh;
  }
  .Footer {
    height: 15vh;
  }
}
@media only screen and (max-width: 360px) {
  .App {
    font-size: 90%;
  }
  .languageRadio {
    padding: 0;
  }
  .formNotes li {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 240px) {
  .formNotes {
    margin-left: -5%;
  }
}
