@media only screen and (max-width: 1024px) {
  Form {
    width: 80%;
    margin: auto -5% !important;
  }
  .languageRadio {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  Form {
    width: 95%;
    margin: auto -10% !important;
  }
  Button {
    width: 30%;
    margin-left: 35%;
  }
}
@media only screen and (max-width: 575px) {
  Form {
    margin: auto 5% !important;
  }
}
@media only screen and (max-width: 480px) {
  Form {
    width: 99%;
    margin-left: 1% !important;
  }
  Button {
    width: 40%;
    margin-left: 30%;
  }
}
@media only screen and (max-width: 320px) {
  .formNotes li {
    margin-left: 0px;
  }
}
